.containerClock {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
#containerInside {
    background-color: rgba(10, 23, 63, 0.87);
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 40px;
    font-weight: 400;
    padding: 20px;
    font-size: clamp(1rem, 5vw, 2.5rem);
    font-family: "Orbitron", sans-serif;
    margin-inline: 5vw;
}