@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #2A7B9B;
  background: linear-gradient(90deg, rgba(42, 123, 155, 1) 41%, rgba(87, 199, 133, 1) 99%);
}
body {
  width: 100vw;
  height: 100vh;
}